<ion-header>
  <!-- <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
      
    </ion-buttons>
   <ion-title>Login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>

   
<form #f="ngForm" (ngSubmit)="onLogin(f)">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
          <ion-list>
              <ion-item>
                <ion-label position="floating">E-mail</ion-label>
                <ion-input type="email"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
                ></ion-input>
                
              </ion-item>
              <ion-item  *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
              >
                  <p>Email is invalid</p>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input 
                type="password"
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"></ion-input>
              </ion-item>
              <ion-item  *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
              >
                  <p>Invalid: minimum 6 characters needed</p>
              </ion-item>
            </ion-list>
      </ion-col>

    </ion-row>

    <ion-row>
        <ion-col size-sm="6" offset-sm="3">

            <ion-button type="submit" color="dark" expand="block" 
            [disabled]="!f.valid"
            > 
            login
          </ion-button>
          <div class="floStyle">
          No account, please: <a [routerLink]="['/signup']">Signup</a>
        </div>
        </ion-col>
        
      </ion-row>
  </ion-grid>
</form>

<ion-grid>
<ion-row>
  <ion-col>
  <ion-button   class="fbStyle" expand="block" (click)="onFbLogin()" >
    Facebook Login
    <ion-icon slot="start" name="logo-facebook" >  
    </ion-icon>
   </ion-button>
</ion-col>
 </ion-row>
</ion-grid>

</ion-content>
<!-- <ion-footer class="ion-no-border">
  Yo
  <ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="player-list" routerLink="/player-list">
      <ion-icon name="people"></ion-icon>
         <ion-label>Players</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="invoice-list" routerLink="/invoice-list">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>Invoice</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="registration-list" routerLink="/registration-list">
      <ion-icon name="cart" ></ion-icon>
          <ion-label>Cart</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

 
</ion-tabs>

</ion-footer> -->


<!-- <app-navigation-footer></app-navigation-footer> -->
