<ion-header>

</ion-header>

<ion-content>

    <ion-item-divider>
      <div style="width: 100%; text-align: center;">
            Day 1   
      </div>
    </ion-item-divider>
  <ion-item-group *ngIf="playerTournamentsDay1.length > 0">

    <ion-item *ngFor="let tournament of playerTournamentsDay1">
     
      <ion-label class="ion-text-center" *ngIf="tournament.isFull">
        <span class='redText'> {{ tournament.title  }}</span>

      </ion-label>
      <ion-note class="red" *ngIf="tournament.isFull" slot="end" >Full</ion-note>
     
      <ion-label class="ion-text-center" *ngIf="!tournament.isLocal">
        <span class='greenText'>{{ tournament.title  }}</span>
      </ion-label>
       <!-- <ion-note class="green" *ngIf="!tournament.isLocal" slot="end" >Registered</ion-note> -->
       <ion-icon class="green" *ngIf="!tournament.isLocal" slot="end" name="checkmark-circle" ></ion-icon>

      <ion-label class="ion-text-center" *ngIf="tournament.isLocal && !tournament.isFull">{{ tournament.title  }}</ion-label>
        <ion-toggle *ngIf="tournament.isLocal && !tournament.isFull" slot="end" #checkbox [checked]="tournament.isSelected" 
          (click)="onToggleClick(checkbox,tournament._id,tournament.day,!checkbox.checked)">
        </ion-toggle>
      
      </ion-item>
      
  </ion-item-group>
  <ion-item-divider>
    <div style="width: 100%; text-align: center;">Day 2</div>
  </ion-item-divider>
  <ion-item-group *ngIf="playerTournamentsDay2.length > 0">
 
    <ion-item *ngFor="let tournament of playerTournamentsDay2">
     
      
        <ion-label class="ion-text-center" *ngIf="tournament.isFull">
          <span class='redText'> {{ tournament.title  }}</span>
        </ion-label>
        <ion-note class="red" *ngIf="tournament.isFull" slot="end" >Full</ion-note>
        <!-- class="ion-text-center"  -->

        <ion-label class="ion-text-center"  *ngIf="!tournament.isLocal">
          <span class='greenText'>{{ tournament.title  }}</span>
        </ion-label>
         <!-- <ion-note class="green" *ngIf="!tournament.isLocal" slot="end" >Registered</ion-note> -->
         <ion-icon class="green" *ngIf="!tournament.isLocal" slot="end" name="checkmark-circle" ></ion-icon>

      <ion-label class="ion-text-center" *ngIf="tournament.isLocal && !tournament.isFull"> {{ tournament.title  }} </ion-label>
        <ion-toggle *ngIf="tournament.isLocal && !tournament.isFull" slot="end" #checkbox [checked]="tournament.isSelected" 
          (click)="onToggleClick(checkbox,tournament._id,tournament.day,!checkbox.checked)">
        </ion-toggle>
        
      </ion-item>

  </ion-item-group>

</ion-content>
